{
    "check-coverage": true,
    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/*.spec.ts",
        "src/jobs/**/*.ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ]
}